	<footer style="height: 50px; margin-top: 25px; border-top: 1px solid #444; padding: 25px;">
		<div class="container">
			<p class="text-center">Copyright MLD</p>
		</div>
	</footer>

	</body>
</html>